; The section of [job] is used to define the testing hypervisor and subscription server
; hypervisor is an optional setting from esx/xen/hyperv/libvirt/rhevm/kubevirt/ahv/local, the default is 'esx'.
; register is an optional setting from rhsm/satellite, the default is 'rhsm'
[job]
hypervisor=
register=

; The section of [virtwho] is used to define the host information where virt-who package is installed and running
; host is a required option to indicate the ip address or hostname
; username and password are the required options to access the host
; port is an optional setting, the default port is 22
; repo is an optional setting, to indicate where is the virt-who yum repository
[virtwho]
server=
username=
password=
port=
repo=
proxy_server=
proxy_port=

; The section of [rhsm] and [satellite] are used to define subscription servers
; server is a required option to indicate where to register
; server=subscription.rhsm.redhat.com for product candlepin
; server=subscription.rhsm.stage.redhat.com for stage candlepin
; server should be the hostname or ip for satellite
; username and password are the required account options for registering
; prefix is an optional setting, the default prefix is /subscription for candlepin, /rhsm for satellite
; port is an optional setting, the default port is 443
; default_org is a required option to indicate which org to register
; ssh_username/password are required options to access satellite host
; secondary_org and activation_key are optional settings for special case requirements
[rhsm]
server=
username=
password=
prefix=
port=
default_org=
activation_key=

[satellite]
server=
username=
password=
prefix=
port=
ssh_username=
ssh_password=
default_org=
secondary_org=
activation_key=

; The section of [sku] is used to define the sku_name-to-sku_id.
; for example vdc=RH00001, you can add any name=id you need.
; vdc is for physical vdc sku
; vdc_virtual is for virtual vdc sku
[sku]
vdc=
vdc_virtual=

; The below sections are used to define the different hypervisors information
; server, username and password are the required options to access vcenter/xen/hyperv/rhevm/libvirt/ahv and get mapping
; config_file is a required option to access kubevirt and get mapping
; uuid or hostname of hypervisor is a required option when need to attach subscriptions for hypervisor
; guest_ip, guest_username and guest_password are required options when need to access guest for registering
; other options are optional settings based on special case requirements
; hypervisor-builder can help to get some information, like hypervisor_uuid/hwuuid/hostname/version/cpu/cluster, guest_ip/uuid/state
[esx]
server=
username=
password=
ssh_username=
ssh_password=
esx_ip=
esx_username=
esx_password=
esx_uuid=
esx_hwuuid=
esx_hostname=
esx_version=
esx_cpu=
esx_cluster=
guest_name=
guest_ip=
guest_username=
guest_password=
guest_uuid=
guest_state=

[hyperv]
server=
username=
password=
uuid=
hostname=
version=
cpu=
guest_name=
guest_ip=
guest_username=
guest_password=
guest_uuid=
guest_state=

[rhvm]
server=
username=
password=
vdsm_uuid=
vdsm_hwuuid=
vdsm_hostname=
vdsm_version=
vdsm_cpu=
vdsm_cluster=
guest_name=
guest_ip=
guest_username=
guest_password=
guest_uuid=
guest_state=

[cnv]
endpoint=
token=
config_file=
uuid=
hostname=
version=
cpu=
guest_name=
guest_ip=
guest_port=
guest_username=
guest_password=
guest_uuid=
guest_state=

[ahv]
server=
username=
password=
uuid=
hostname=
version=
cpu=
cluster=
guest_name=
guest_ip=
guest_username=
guest_password=
guest_uuid=
guest_state=

[libvirt]
server=
username=
password=
uuid=
hostname=
version=
cpu=
guest_name=
guest_ip=
guest_username=
guest_password=
guest_uuid=
guest_state=

[local]
server=
username=
password=
port=
guest_name=
guest_ip=
guest_username=
guest_password=
guest_uuid=
guest_state=

[xen]
server=
username=
password=
uuid=
hostname=
version=
cpu=
guest_name=
guest_ip=
guest_username=
guest_password=
guest_uuid=
guest_state=